.box {
    position: relative;
}

.input {
    position: relative;
    & input {
        margin-left: 5px;
        padding: 3px;
        border-radius: 5px;
        background-color: aliceblue;
    }
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-115%, -50%);
    line-height: 0;
    background-color: rgb(193, 193, 193);
    border-radius: 50%;
}